<div class="row">
  <div class="col">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" ngModel required>
        </div>

        <div class="col-sm-5 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" class="form-control" ngModel required pattern="^[1-9]+[0-9]*$">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-success mr-1"
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button type="button" class="btn btn-danger mr-1" (click)="onItemDelete()" [disabled]="!editMode">Delete</button>
          <button type="button" class="btn btn-warning mr-1" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
