<div class="row mb-4">
  <div *ngIf="currentRecipe; else noSuchRecipe">
    <div class="col">
      <div class="card mb-3">
        <img class="card-img-top card__img" [src]="currentRecipe.imagePath" [alt]="currentRecipe.name">
        <div class="card-body">
          <h5 class="card-title">ID: {{ currentRecipe.id }}: {{ currentRecipe.name }}</h5>
          <p class="card-text">{{ currentRecipe.description }}</p>

          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Manage recipe
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</a>
              <a class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a>
              <a class="dropdown-item" (click)="onRecipeDelete()">Delete Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Ingredients
          </h5>

          <ul class="list-group">
            <li class="list-group-item font-weight-bold" *ngFor="let i of currentRecipe.ingredients">
              <span>{{ i.name }}</span> -
              <span class="text-success">{{ i.amount }}</span>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <ng-template #noSuchRecipe>Sorry, no such recipe with this ID.</ng-template>

</div>
