<div class="row mb-4">
  <div class="col">
    <a [routerLink]="['/recipes', 'new']" class="btn btn-success">New recipe</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-recipe-item
      *ngFor="let recipeEl of (recipes | sortByName)"
      [recipe]="recipeEl"
    ></app-recipe-item>
  </div>
</div>
