.recipe-item {
  cursor: pointer;
  padding: .25rem;
}

.recipe-item.active {
  box-shadow: 0px 0px 8px rgba(89, 162, 202, 0.45);
}

.recipe-item__img {
  max-width: 100px;
  object-fit: contain;
}
