<div>
  <div
    [routerLink]="[ recipe.id ]" 
    routerLinkActive="active" 
    class="recipe-item card flex-row mb-3"
  >
    <img class="card-img-top recipe-item__img" [src]="recipe.imagePath" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ recipe.name }}</h5>
      <p class="card-text">{{ recipe.description }}</p>
      <small class="text-muted">Click to show details</small>
    </div>
  </div>
</div>
