<div class="row">
  <div class="col">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row mb-4">
        <div class="col">
          <button class="btn btn-success mr-2" type="submit" [disabled]="!recipeForm.valid">Save</button>
          <button class="btn btn-danger" type="button" (click)="goBack()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              name="description"
              id="description"
              cols="30"
              rows="6"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col" formArrayName="ingredients">
          <!-- ingredient -->
          <div
            class="row mb-2"
            *ngFor="let ingredientCtr of controls; index as i"
            [formGroupName]="i"
          >
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <!-- ingredient -->
          <hr>
          <div class="row">
            <div class="col">
              <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add ingredient</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
